body {
	background-image: url("../images/skyline.jpeg");
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

footer {
	
	width: 100%;
	background-color: #666666;
	margin-top: 0;
	text-align: center;
	clear: both;
	bottom: 0;
	padding-top: 10px;
	height: 20px;
	padding-bottom: 50px;
	border-top: 5px solid #4aaaa5;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.images {
	margin: 10px;
	width: 140px;
	height: 150px;
}

.images2 {
	 width: 90%;
     height: auto;
}

h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 3.4rem;
	font-weight: 600;
	line-height: 150%;
	
	text-align: center;
	letter-spacing: 2px;
}

p {
	float: right;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 150%;
	display: inline-block;

}


#pic {
	float: left;
	margin: 0 10px 10px 10px;
	display: inline-block;
	
}

h3 {
	color: ##f3f3f3;
	text-align: left;
	line-height: 150%;
	font-weight: 600;
	font-family: 'Georgia', Times, Times New Roman, serif;
	position: relative;
	letter-spacing: 2px;
	top: 0;
}

article {
	border-top: 2px solid #f3f3f3;
	width: 350px;
	margin-left: 50px;
	padding-top: 20px;
	float: left;
	display: inline-block;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#copyright {
	text-align: center;
}

a {
	margin: 5px;
}

form {
	border-top: 2px solid #f3f3f3;
	width: 300px;
	text-align: left;
	line-height: 150%;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

input {
	width: 300px;
}

.button1 {
	margin-top: 10px;
	background-color: #4aaaa5;
	font-size: 1.1rem;
	font-weight: 600;
	width: 100px;
	height: 50px;
	left: -320px;
}

.button1:hover {
	background-color: #005a9c;
	color: #f3f3f3;
}

div.gallery {
    display: inline-block;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
	
	
}

button {
	margin-top: 10px;
}

button:hover {
	background-color: #146ac0;
	color: #f3f3f3;
}
div.desc {
    padding: 15px;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif; 
	font-weight: 700;
	background-color: #4aaaa5;
	z-index: 5;
	
}

.clearfix {
	clear: both;
}

.portfolio {
	width: 60%;
	height: 300px;
	text-align: center;
	letter-spacing: 3px;
	float: left;
	background-color: #f3f3f3;
	margin-left: 50px;
	
	padding-bottom: 100px;
	border-radius: 5px;
	
	margin-bottom: 10px;
	
	border: 1px solid #f3f3f3;
	
}

span {
	position: fixed;
	top: 0;
}

.container {
	background-color: #f3f3f3;
}

li:hover {
	background-color: #146ac0;
	color: #f3f3f3;
}




@media screen {
	max-width: 960px; 
}

@media screen {
	max-width: 768px;
}

@media screen {
	max-width: 640px;
}

@media screen and (max-width: 768px) {
  /* The body's bg color will be #333 */
  body {
    background-color: #333;
}